.Wrapper {
    background-color: rgb(242,241,246);
    padding: 5% 10%;
    height: 100vh;
}

.Form {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.ActiveButton {
    background-color: rgb(209,230,251);
}

.SaveButton {
    background-color: rgb(10,183,131);
    color: white;
}

.InvalidInput {
    border: 1px solid red;
}

input, button, select {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    background-color: white;
}